<div class="row">
  <div class="col-md-12">
    <h1>Post page</h1>
    <h2><%= @result.title %></h2>
    <p><%= @result.plot %></p>
    <img src="<%= @result.image_url %>" alt="">
    <p><%= @result.author %></p>
    <a href="/edit/<%= @result.id %>">UPDATE |</a>
    <form action="/delete/<%= @result.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button >DELETE</button>
    </form>
  </div>
</div>